@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}
<div class="transition transition-1 is-active"></div>
<!-- *  *  *  *  *  *  *  *  *  *  *  * -->
<!-- *  *  *  *  SwiperSlider   *  *  *  *  * -->
<!-- *  *  *  *  *  *  *  *  *  *  *  * -->
@Html.Partial("~/views/partials/Sections/SectionSwiperSlider.cshtml")

<!-- *  *  *  *  *  *  *  *  *  *  *  * -->
<!-- *  *  *  * Portfolio *  *  *  *  * -->
<!-- *  *  *  *  *  *  *  *  *  *  *  * -->

@Html.Partial("~/views/partials/Sections/Portfolio.cshtml")

<!-- *  *  *  *  *  *  *  *  *  *  *  * -->
<!-- *  *  *  * Destinations *  *  *  *  * -->
<!-- *  *  *  *  *  *  *  *  *  *  *  * -->
@Html.Partial("~/views/partials/Sections/Destinations.cshtml")


<!-- *  *  *  *  *  *  *  *  *  *  *  * -->
<!-- *  *  *  * Prototype *  *  *  *  * -->
<!-- *  *  *  *  *  *  *  *  *  *  *  * -->
@Html.Partial("~/views/partials/Sections/Branch.cshtml")



<!-- *  *  *  *  *  *  *  *  *  *  *  * -->
<!-- *  *  *  * Gallery *  *  *  *  * -->
<!-- *  *  *  *  *  *  *  *  *  *  *  * -->
@Html.Partial("~/views/partials/Sections/Gallery.cshtml")


@*<style type="text/css">
	#promotion .carousel-caption {
		background-color: rgba(0,0,0,.5);
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		padding: 0 0 10px 25px;
		color: #fff;
		text-align: left;
	}

	#promotion .modal-footer {
		text-align: center;
	}
</style>

<div class="modal fade" id="promotion" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="card card-cover h-100 overflow-hidden text-white bg-dark shadow-lg" style="background-image: url('./assets/living-story-6-1.png');">
				<div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
					<h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Điểm đến hoàn hảo cho bạn</h2>
				</div>
			</div>
		</div>
	</div>
</div>*@