@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Hotel>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Hotel = Umbraco.Web.PublishedModels.Hotel;


@{
	Layout = "Master.cshtml";
}
<style>
	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	span,
	p,
	a {
		font-family: "Montserrat", sans-serif !important;
		font-weight: 700;
		font-style: normal;
		font-size: 14px;
	}

	.flyoutMenu {
		display: none;
	}

	.flyoutBtn:hover .flyoutMenu {
		display: block;
	}

	.flyoutSearch {
		display: none;
	}

	.flyoutSearchBtn:hover .flyoutSearch {
		display: block;
	}

	.showState {
		display: block !important;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 200ms;
	}

	.swiper-wrapper {
		width: 100%;
		height: max-content !important;
		padding-bottom: 64px !important;
		-webkit-transition-timing-function: linear !important;
		transition-timing-function: linear !important;
		position: relative;
	}

	.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
		background: #4F46E5 !important;
	}

	.fraction-slide-carousel #slider-button-left {
		background-color: #e4551f !important;
		width: 30px !important;
		height: 30px !important;
	}

	.fraction-slide-carousel #slider-button-right {
		background-color: #e4551f !important;
		width: 30px !important;
		height: 30px !important;
	}

	.fraction-slide-carousel .swiper-button-prev {
		font-size: 12px !important;
		color: #ffffff !important;
	}

	.fraction-slide-carousel .swiper-button-next:after {
		font-size: 12px !important;
		color: #ffffff !important;
	}

	.fraction-slide-carousel .swiper-button-prev:after {
		font-size: 12px !important;
		color: #ffffff !important;
	}

	[data-tab].active.tab-active\:bg-indigo-600 {
		background-color: rgb(0, 0, 0) !important;
	}

	#daterangeTextbox:focus {
		outline: none !important;
	}

	/* Custom Calendar */
	.applyBtn {
		background: #ff6a00 !important;
		border: none !important;
	}

	.calendar-table {
		font-family: "Montserrat", sans-serif !important;
		font-weight: 700;
		font-style: normal;
		font-size: 14px;
	}

	.applyBtn {
		font-family: "Montserrat", sans-serif !important;
		font-weight: 700;
		font-style: normal;
		font-size: 14px;
	}

	.cancelBtn {
		font-family: "Montserrat", sans-serif !important;
		font-weight: 700;
		font-style: normal;
		font-size: 14px;
	}

	/* Select2 */
	.select2-container--bootstrap-5 .select2-selection {
		border: 1px solid #6f6f6f !important
	}

	.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
		font-size: 13px !important;
		font-weight: bold !important;
		color: #e4551f !important;
	}

	.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option {
		padding: .375rem .75rem;
		font-size: 13px !important;
		font-weight: bold !important;
		line-height: 1.5;
	}

	.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
		color: #e4551f !important;
	}

	.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
		font-weight: bold !important;
	}

	.select2-results__option select2-results__option--highlighted {
		font-size: 13px !important;
		font-weight: bold !important;
		line-height: 1.5;
	}

	.nav-for-slider .swiper-slide-thumb-active img {
		border: 1px solid #ccc !important;
	}

	.swiper-pagination-bullet-active {
		background-color: rgb(234 88 12);
	}

	.swiper-pagination-bullet {
		width: 15px;
		height: 15px;
	}
</style>

<div class="w-full relative">
	<div class="swiper hotel-slide-carousel swiper-container relative">
		<div class="swiper-wrapper">
			@if (Model.Photos != null)
			{
				for (int i = 0; i < Model.Photos.Count(); i++)
				{
					<style>
					#swiper-background-@i {
						background-image: url(@Model.Photos.ToList()[i].Url());
					}
					</style>
					<div class="swiper-slide">
						<div class="bg-indigo-50 flex justify-center items-center h-[80vh]" style="
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;" id="swiper-background-@i">
						</div>
					</div>
				}
			}
		</div>
		<div class="swiper-pagination !bottom-2 !top-auto !w-80 right-0 mx-auto"></div>
	</div>
</div>
<div class=" mt-[30px] container">
	<section class="py-[20px] relative">
		<div class="mx-auto bg-white p-[30px] flex flex-col justify-center gap-3 lg:flex-row lg:justify-between max-lg:max-w-2xl mx-auto max-w-full rounded">
			<div class="w-full lg:w-2/3">
				<h2 class="text-2xl md:text-3xl lg:text-3xl font-bold text-black leading-[3.25rem] flex items-center justify-center">
					@Model.HotelName
				</h2>
				<p class="font-base mt-[40px] mb-[40px] text-gray-900">
					@Model.Description
				</p>

				<h4 class="text-2xl font-bold text-black leading-[3.25rem] mb-[20px]">
					Tiện nghi được ưu chuộng nhất
				</h4>

				<div class="grid grid-cols-2 gap-3 md:grid-cols-3 lg:grid-cols-4">
					@if (@Model.Features != null && @Model.Features.Any())
					{
						foreach (var category in @Model.Features)
						{
							<div class="flex gap-2 items-center justify-start">
								<img src="@category.Icon.Url()"
									  class="w-[30px] h-[30px]"><span class="sc-eGRUor dIaozk">
									@category.FeatureName
								</span>
							</div>
						}
					}
				</div>
			</div>
			<div class="w-full lg:w-1/3 flex flex-col gap-2 justify-start">
				<div class="md:w-[500px] lg:w-[500px] h-[178px] relative">
					<a href="@Model.MapUrl">
						<img class="w-full h-full object-cover rounded transition-all duration-300 hover:scale-105 cursor-pointer"
							  src="@Model.MapPhoto.Url()" />
					</a>
				</div>
				<p class="mt-[10px] mb-[10px]">@Model.MapDescription</p>
				<p class="mt-[10px] mb-[8px] font-semibold text-base">Khám phá khu vực</p>

				<div class="flex flex-col gap-3">
					@foreach (var area in Model.Areas)
					{
						<div class="flex justify-between w-full">
							<span>@area.AreaName</span>
							<span>@area.Distance km</span>
						</div>
					}
				</div>

			</div>
		</div>
	</section>
</div>
<!-- Custom Slider -->
<script>
	var swiper_thumbs = new Swiper(".nav-for-slider", {
		loop: true,
		spaceBetween: 30,
		slidesPerView: 4,
	});
	var swiper = new Swiper(".main-slide-carousel", {
		slidesPerView: 1,
		effect: "fade",
		thumbs: {
			swiper: swiper_thumbs,
		},
	});

	// Get references to elements
	const gallery = document.querySelector('.gallery');
	const lightbox = document.getElementById('lightbox');
	const lightboxImage = document.getElementById('lightbox-image');
	const closeButton = document.getElementById('close');

	// Add event listener to each image
	gallery.addEventListener('click', e => {
		if (e.target.classList.contains('gallery-image')) {
			const imageSrc = e.target.src;
			lightboxImage.src = imageSrc;
			lightbox.style.display = 'flex';
		}
	});

	// Close lightbox when close button is clicked
	closeButton.addEventListener('click', () => {
		lightbox.style.display = 'none';
	});

	// Close lightbox when clicking outside the image
	lightbox.addEventListener('click', e => {
		if (e.target === lightbox) {
			lightbox.style.display = 'none';
		}
	});
</script>

<div class="container mb-4" id="rooms">
	@Html.GetGridHtml(Model, "bodyText", "bootstrap3-rawrow")
</div>

<!--JAVASCRIPT CODE Tailwind Carousel with pagination fraction-->
<script>
	var swiper = new Swiper(".fraction-slide-carousel", {
		loop: true,
		fraction: true,
		navigation: {
			nextEl: ".fraction-slide-carousel .swiper-button-next",
			prevEl: ".fraction-slide-carousel .swiper-button-prev",
		},
	});
</script>